In [11]:
import pandas as pd

In [42]:
#Average time that incidents spend in a particular status.
csvFile2 = pd.read_csv('SSC dataset\INCIDENT_HISTORY.csv');
csvFile2 = pd.DataFrame(csvFile2)

grouped = csvFile2.groupby("STATUS").mean()
print(grouped)

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

            TIME_IN_STATUS_HRS
STATUS
AWAITCHG            113.363088
AWAITCUS             69.843384
AWAITVEN            137.735532
CLOSED                     NaN
HISTEDIT             23.380726
INPROG               26.993950
NEW                   0.324458
PENDING              65.869582
PENDINGCHG          125.241167
PENDINGCUS           79.481625
PENDINGREV          223.411555
PENDINGVEN          102.578170
QUEUED               24.715884
RESOLVED              0.146312
SLAHOLD             108.268436

In [58]:
#Number of times an incident is reassigned during the life of the ticket.
csvFile3 = pd.read_csv('SSC dataset\INCIDENT_OWNER_HISTORY.csv');
csvFile3 = pd.DataFrame(csvFile3)

grouped = csvFile3.groupby("ticket_nmbr", as_index=False)["assigned_group"].count()
csvFile3 = pd.DataFrame(grouped)

csvFile3

       ticket_nmbr  assigned_group
0       IN10028612               3
1       IN10028613               3
2       IN10028614               4
3       IN10028615               4
4       IN10028616               0
...            ...             ...
226291  IN10293551               2
226292  IN10293552               4
226293  IN10293553               2
226294  IN10293554               2
226295  IN10293555               2

[226296 rows x 2 columns]

In [65]:
#Average time that incidents spend with a particular Suport group(Assigned_Group)
csvFile3 = pd.read_csv('SSC dataset\INCIDENT_OWNER_HISTORY.csv');
csvFile3 = pd.DataFrame(csvFile3)

grouped = csvFile3.groupby("assigned_group", as_index=False)['TIME_IN_STATUS_BY_OWNER_HRS'].mean()
csvFile3 = pd.DataFrame(grouped)

csvFile3

    assigned_group  TIME_IN_STATUS_BY_OWNER_HRS
0             1769                     6.050000
1         AP000001                   101.756098
2         AP000003                   399.466667
3         AP000004                   367.733333
4         AP000005                     0.616667
..             ...                          ...
582       SM000585                    10.426242
583       SM000586                     0.000000
584       SOLADMIN                     1.416667
585       SSCINFRA                    23.033333
586         TIVMON                    27.107813

[587 rows x 2 columns]

In [ ]:
#Mean time to restore service (MTRS), are there particular services that are taking longer on average to be restored?

In [109]:
#Is there a  corelation between the number of times an incident is reassigned and how long it takes to restore

#Number of times an incident is reassigned during the life of the ticket.
csvFile3 = pd.read_csv('SSC dataset\INCIDENT_OWNER_HISTORY.csv');
csvFile3 = pd.DataFrame(csvFile3)

grouped = csvFile3.groupby("ticket_nmbr", as_index=False)["assigned_group"].count()
grouped = pd.DataFrame(grouped)

grouped2 = csvFile3.groupby("ticket_nmbr", as_index=False)['TIME_IN_STATUS_BY_OWNER_HRS'].sum()
grouped2 = pd.DataFrame(grouped2)
grouped2 = grouped2.dropna()


result = grouped.merge(grouped2, left_on='ticket_nmbr', right_on='ticket_nmbr')
result = result.groupby("assigned_group", as_index=False)['TIME_IN_STATUS_BY_OWNER_HRS'].mean()
result = pd.DataFrame(result)
result = result.dropna()

result

    assigned_group  TIME_IN_STATUS_BY_OWNER_HRS
0                0                     0.000000
1                1                     0.092079
2                2                    46.815768
3                3                    27.954634
4                4                    54.670866
5                5                   120.969522
6                6                   231.239070
7                7                   398.462971
8                8                   582.888024
9                9                   782.037207
10              10                   963.916640
11              11                  1188.299184
12              12                  1377.740794
13              13                  1331.127437
14              14                  1781.708523
15              15                  2041.677407
16              16                  2199.914887
17              17                  2851.522756
18              18                  3842.858889
19              19                  2869.879060
20              20                  1882.609167
21              21                  3533.267544
22              22                  4053.030392
23              23                  2957.491667
24              24                  5002.159524
25              25                  3402.627083
26              26                  9565.988889
27              27                  2275.616667
28              28                  7304.166667
29              29                   518.600000
30              31                  4428.133333
31              35                 11412.550000
32              36                   460.933333

In [114]:
#Are there any particular organizations for whom it takes longer on average to restore services?
#One for Acutal Completion Hrs
#One for Buiness Completion Hrs

csvFile = pd.read_csv('SSC dataset\INCIDENTS.csv');
csvFile = pd.DataFrame(csvFile)

grouped = csvFile.groupby("org_id", as_index=False)["ACTUAL_COMPLETION_HRS"].mean()
grouped = pd.DataFrame(grouped).sort_values(by="ACTUAL_COMPLETION_HRS")
grouped = grouped.dropna()

print(grouped);


csvFile = pd.read_csv('SSC dataset\INCIDENTS.csv');
csvFile = pd.DataFrame(csvFile)

grouped2 = csvFile.groupby("org_id", as_index=False)["BUSINESS_COMPLETION_HRS"].mean()
grouped2 = pd.DataFrame(grouped2).sort_values(by="BUSINESS_COMPLETION_HRS")
grouped2 = grouped2.dropna()

print(grouped2);

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

    org_id  ACTUAL_COMPLETION_HRS
1    837.0               0.780000
49  1232.0              10.060000
67  1732.0              14.980000
13   988.0              22.405000
11   952.0              86.683333
..     ...                    ...
39  1085.0            1388.190000
38  1083.0            1417.575000
10   948.0            1482.200000
51  1237.0            2567.195000
7    918.0            2984.790000

[70 rows x 2 columns]
    org_id  BUSINESS_COMPLETION_HRS
49  1232.0                 0.000000
1    837.0                 0.770000
13   988.0                 5.785000
67  1732.0                 8.200000
11   952.0                22.423333
..     ...                      ...
39  1085.0               393.813333
38  1083.0               413.983750
10   948.0               416.270000
51  1237.0               732.470000
7    918.0               843.215000

[70 rows x 2 columns]

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [ ]:
#Is there a correlation to certain groups where tickets stay in a particular status that is resulting in longer times to restore service?

In [ ]:
#Is there a correlation to certain services where tickets are not resolved as quickly as other services leading to greater MTRS?

In [ ]:
#There are many Event Management tickets. What is the difference in MTRS incidents ticket including and excluding Event Management tickets?
#Part of external system in incidents.

In [ ]:
#Correlation between the number of tickets associated with a particular assigned group,organization, service and the time it rakes to restore service.

- What is the difference between the parent service and service columns, for: Mean time to restore service (MTRS), are there particular services that are taking longer on average to be restored? Is this asking about parent services or services?

- What to do about NULL values? On a per question basis?

- For Is there a correlation to certain services where tickets are not resolved as quickly as other services leading to greater MTRS? Are we comparing for example MiddleWare to another MiddleWare and seeing if it is taking longer then average? or just comparing the averages of the services themselves? If so is there a certain threshold?

-